---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Blog from '../components/Blog.astro'
---

<Layout title="Liam Smets">
    <script type="text/javascript">
        var str = '<?php echo 1+1;?>';
        </script>


	<main class="flex flex-col flex-1 p-4">
		<Hero />
		<div class="md:mb-36" />
		<Projects />
        <div class="md:mb-24" />
		<Blog />
		<div class="md:my-24" />
		<About />
		<div class="md:my-24" />
		<Contact />
	</main>
</Layout>
